html {
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
[data-theme="light"] {
    --color-one: rgb(0, 32, 63);
    --color-one-transparent: rgba(0, 32, 63, 0.5);
    --color-one-gradient: linear-gradient(90deg, rgb(173, 239, 209) 0%, rgb(127, 127, 127) 100%);
    --color-two: rgb(173, 239, 209);
    --color-two-transparent: rgba(173, 239, 209, 0.5);
    --color-two-gradient: linear-gradient(90deg, rgb(127, 127, 127) 0%, rgb(0, 32, 63) 100%);
    --color-footer-bkg: rgb(50, 50, 50);
    --color-footer-text: white;
}
[data-theme="dark"] {
    --color-one: rgb(173, 239, 209);
    --color-one-transparent: rgba(173, 239, 209, 0.5);
    --color-one-gradient: linear-gradient(90deg, rgb(127, 127, 127) 0%, rgb(0, 32, 63) 100%);
    --color-two: rgb(0, 32, 63);
    --color-two-transparent: rgba(0, 32, 63, 0.5);
    --color-two-gradient: linear-gradient(90deg, rgb(173, 239, 209) 0%, rgb(127, 127, 127) 100%);
    --color-footer-bkg: rgb(200, 200, 200);
    --color-footer-text: black;
}
body {
    color: var(--color-one);
    background-color: var(--color-two);
    overflow: auto;
}
nav {
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    border-radius: 25px 25px 25px 25px;
    border-bottom-right-radius: 25px;
    width: clamp(20rem, 50% 40rem);
    overflow: hidden;
    background-color: var(--color-one-transparent);
    box-shadow: 2px 2px 2px black;
    text-align: center;
    padding: 2px;
}
nav > .nav-button-active{
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    line-height: 3rem;
    color: var(--color-two);
    font-family: sans-serif;
    background: var(--color-two-gradient);
    border: none;
    border-radius: 25px 25px 25px 25px;
    height: 48px;
    width: clamp(48px, 50%, 192px);
    box-shadow:0px 0px 5px var(--color-one);
    transition: background 0.5s ease, color 0.5s ease;
}
nav > .nav-button-active:hover{
    color: var(--color-one);
    background: var(--color-one-gradient);
}
nav > .nav-button {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    line-height: 3rem;
    color: var(--color-one);
    transition: 0.3s;
    font-family: sans-serif;
    background: var(--color-one-gradient);
    border: none;
    border-radius: 25px 25px 25px 25px;
    height: 48px;
    width: clamp(48px, 50%, 192px);
    box-shadow: 0px 0px 5px var(--color-one);
    transition: background 0.5s ease, color 0.5s ease;
}
nav > .nav-button:hover {
    color: var(--color-two);
    background: var(--color-two-gradient);
}
nav > .nav-button-open {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: calc(50%);
    color: var(--color-one);
    transition: 0.3s;
    font-family: sans-serif;;
    background: var(--color-one-gradient);
    border: none;
    border-radius: 25px;
    height: 48px;
    width: 48px;
    box-shadow: 0px 0px 5px var(--color-one);
    transition: background 0.5s ease, color 0.5s ease;
}
nav > .nav-button-open:hover {
    color: var(--color-two);
    background: var(--color-two-gradient);
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 52px;
    right: 0;
    text-decoration-color: aqua;
    background:var(--color-one-transparent);
    overflow-x: hidden;
    padding-top: 16px;
    transition: 0.5s;
}
.sidenav .nav-button-active {
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: var(--color-two);
    display: block;
    transition: 0.3s;
    font-family: sans-serif;
    background: var(--color-two-gradient);
    border: none;
    border-radius: 25px 25px 25px 25px;
    height: 40px;
    width: 200px;
    margin: 5px;
    scale: 90%;
    box-shadow: 0px 0px 5px var(--color-one);
    transition: scale 0.5s ease, color 0.5s ease, background 0.5s ease;
}
.sidenav .nav-button-active:hover{
    scale: 100%;
    color: var(--color-one);
    background: var(--color-one-gradient);
}
.sidenav .nav-button {
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: var(--color-one);
    display: block;
    transition: 0.3s;
    font-family: sans-serif;
    background: var(--color-one-gradient);
    border: none;
    border-radius: 25px 25px 25px 25px;
    height: 40px;
    width: 200px;
    margin: 5px;
    scale: 90%;
    box-shadow: 0px 0px 5px var(--color-one);
    transition: scale 0.5s ease, color 0.5s ease, background 0.5s ease;
}
.sidenav .nav-button:hover {
    scale: 100%;
    color: var(--color-two);
    background: var(--color-two-gradient);
}
.sidenav .btn-toggle {
    text-align: center;
    line-height: 50%;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: var(--color-one);
    display: block;
    transition: 0.3s;
    font-family: sans-serif;
    background: var(--color-one-gradient);
    border: none;
    border-radius: 25px 25px 25px 25px;
    height: 40px;
    width: 200px;
    margin: 5px;
    scale: 90%;
    box-shadow: 0px 0px 5px var(--color-one);
    transition: scale 0.5s ease, color 0.5s ease, background 0.5s ease;
}
.logo{
    text-decoration: none;
    margin-bottom: 0.25rem;
    color:#111;
    width: 11rem;
    height: 4rem;
    float: inline-start;
}
main {
    text-align: center;
    min-height: 40rem;
}
main .div-container{
    position: static;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 8px;
    row-gap: 8px;
    left: calc(10%);
    right: calc(10%);
    color: var(--color-two);
    background-color: var(--color-one-transparent);
    min-height: 64px;
    border-radius: 25px;
    padding: 16px;
    margin-bottom: 16px;
}
main .div-container .div-box{
    color: var(--color-two);
    background-color:  var(--color-one-transparent);
    border-style: solid;
    border-color: var(--color-two);
    border-radius: 25px;
    width: clamp(420px, 50%, 800px);
    min-height: 64px;
    overflow: hidden;
    text-align: center;
    padding: 4px;
}
main .div-container .box-text {
    font-size: 18px;
    text-shadow: 0px 0px 16px var(--color-two);
}
main .div-container .box-text a{
    text-decoration: none;
    color: var(--color-two);
    text-shadow: var(--color-two);
}
main .div-container .box-text a:hover{
    color: var(--color-one);
    text-shadow: var(--color-one)
}
main .div-container .feature-list {
    font-size: 18px;
    text-shadow: 0px 0px 16px var(--color-two)
}
footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 60px;
    padding: 5px;
    background: var(--color-footer-bkg);
    color: var(--color-footer-text);
    font-size: small;
}
button {
    background-color: black;
    font-size: medium;
    font-weight: bold;
    color: white;
    width: 200px;
    height: 50px;;
    border: none;
    border-radius: 25px 25px 25px 25px;
    transition: background-color 0.5s ease, color 0.5s ease, scale 0.5s ease;
}
button:hover {
    background-color: white;
    color: black;
    scale: 1.1;
}
#navButtonOpen {
    transition: margin-left .5s;
    padding: 20px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
/*color picker*/
.nothing{
    color:#c60d8e;
}
