html {
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
[data-theme="light"] {
    --color-one: rgb(0, 32, 63);
    --color-one-transparent: rgba(0, 32, 63, 0.5);
    --color-two: rgb(173, 239, 209);
    --color-two-transparent: rgba(173, 239, 209, 0.5);
    --color-footer-text: white;
}
[data-theme="dark"] {
    --color-one: rgb(173, 239, 209);
    --color-one-transparent: rgba(173, 239, 209, 0.5);
    --color-two: rgb(0, 32, 63);
    --color-two-transparent: rgba(0, 32, 63, 0.5);
    --color-footer-text: black;
}
body {
    color: var(--color-one);
    background-color: var(--color-two);
    overflow: auto;
}
main{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-areas: 
    "head nav nav"
    "content content content "
    "foot foot foot";
    grid-template-rows: 60px auto 60px;
}
header {
    grid-area: head;
    line-height: 0;
    padding: 4px;
    text-decoration: none;
    color: var(--color-two);
    background: var(--color-one);
    cursor: pointer;
}
nav{
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    padding: 4px;
    background: var(--color-one);
}
article {
    grid-area: content;
    box-sizing: border-box;
}
footer {
    grid-area: foot;
    padding: 5px;
    background: rgba(50, 50, 50, 0.9);
    color: rgb(255, 255, 255);
    font-size: small;
}
nav > .nav-button-active{
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    line-height: 3rem;
    color: var(--color-one);
    font-family: sans-serif;
    background: var(--color-two);
    border: solid var(--color-two);
    height: 48px;
    border-radius: 8px;
    width: clamp(48px, 50%, 192px);
    box-shadow:0px 0px 5px var(--color-one);
    transition: background 0.5s ease, color 0.5s ease;
}
nav > .nav-button-active:hover{
    color: var(--color-two);
    background: var(--color-one);
}
nav > .nav-button {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    line-height: 3rem;
    color: var(--color-two);
    transition: 0.3s;
    font-family: sans-serif;
    background: var(--color-one);
    border: solid var(--color-two);
    height: 48px;
    border-radius: 8px;
    width: clamp(48px, 50%, 192px);
    box-shadow: 0px 0px 5px var(--color-one);
    transition: background 0.5s ease, color 0.5s ease;
}
nav > .nav-button:hover {
    color: var(--color-one);
    background: var(--color-two);
}
nav > .nav-button-open {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 0;
    color: var(--color-two);
    transition: 0.3s;
    font-family: sans-serif;;
    background: var(--color-one);
    border: solid var(--color-two);
    border-radius: 8px;
    height: 48px;
    width: 48px;
    box-shadow: 0px 0px 5px var(--color-one);
    transition: background 0.5s ease, color 0.5s ease;
    cursor: pointer;
}
nav > .nav-button-open:hover {
    color: var(--colorone);
    background: var(--color-two);
}
.sidenav {
    width: 0;
    position: fixed;
    z-index: 1;
    top: 60px;
    right: 0;
    bottom: 60px;
    text-decoration-color: aqua;
    background:var(--color-one-transparent);
    overflow-x: hidden;
    padding-top: 16px;
    transition: 0.5s;
}
.sidenav .nav-button-active {
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: var(--color-one);
    display: block;
    transition: 0.3s;
    font-family: sans-serif;
    background: var(--color-two-transparent);
    border: none;
    border-radius: 8px;
    height: 40px;
    width: 200px;
    margin: 5px;
    scale: 0.9;
    box-shadow: 0px 0px 5px var(--color-one);
    transition: scale 0.5s ease, color 0.5s ease, background 0.5s ease;
}
.sidenav .nav-button-active:hover{
    scale: 1;
    box-shadow: 0px 0px 5px var(--color-two);
    color: var(--color-two);
    background: var(--color-one-transparent);
}
.sidenav .nav-button {
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: var(--color-two);
    display: block;
    transition: 0.3s;
    font-family: sans-serif;
    background: var(--color-one-transparent);
    border: none;
    border-radius: 8px;
    height: 40px;
    width: 200px;
    margin: 5px;
    scale: 0.9;
    box-shadow: 0px 0px 5px var(--color-two);
    transition: scale 0.5s ease, color 0.5s ease, background 0.5s ease;
}
.sidenav .nav-button:hover {
    scale: 1;
    box-shadow: 0px 0px 5px var(--color-one);
    color: var(--color-one);
    background: var(--color-two-transparent);
}
.sidenav .btn-toggle {
    text-align: center;
    line-height: 50%;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: var(--color-two);
    display: block;
    transition: 0.3s;
    font-family: sans-serif;
    background: var(--color-one-transparent);
    border: none;
    border-radius: 8px;
    height: 40px;
    width: 200px;
    margin: 5px;
    scale: 90%;
    box-shadow: 0px 0px 5px var(--color-two);
    transition: scale 0.5s ease, color 0.5s ease, background 0.5s ease;
}
.div-container{
    position: static;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 8px;
    row-gap: 8px;
    left: calc(10%);
    right: calc(10%);
    color: var(--color-two);
    background-color: var(--color-one-transparent);
    min-height: 64px;
    border-radius: 25px;
    padding: 16px;
    margin-bottom: 16px;
}
.div-container .div-box{
    color: var(--color-two);
    background-color:  var(--color-one-transparent);
    border-style: solid;
    border-color: var(--color-two);
    border-radius: 25px;
    width: clamp(420px, 50%, 800px);
    min-height: 64px;
    overflow: hidden;
    text-align: center;
    padding: 4px;
}
.div-container .box-text {
    font-size: 18px;
    text-shadow: 0px 0px 16px var(--color-two);
}
.div-container .box-text a{
    text-decoration: none;
    color: var(--color-two);
    text-shadow: var(--color-two);
}
.div-container .box-text a:hover{
    color: var(--color-one);
    text-shadow: var(--color-one)
}
.div-container .feature-list {
    font-size: 18px;
    text-shadow: 0px 0px 16px var(--color-two)
}
#navButtonOpen {
    transition: margin-left .5s;
    padding: 20px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.error404{
    font-size: 64px;
    color: var(--color-one);
}
/*color picker*/
.nothing{
    color:#c60d8e;
}
